@using TestBlazor.Components.Symbols.Generics
@using TestBlazor.Components.Symbols.Common
@using TestBlazor.Models.Symbols

<div class="symbol-wrapper-root" style="@GetRootStyle()">
    <MouseOver Context="isOver">
        <div class="rotated-layer" style="@GetRotationStyle()">
            <Selection IsSelected="@EffectiveIsSelected" Style="width: 100%; height: 100%;" OnClick="OnClick">
                <Alarm State="@EffectiveAlarmState" IsBlinking="@EffectiveAlarmBlink">
                    <CrossFilter HasCrossFilter="@HasCrossFilter">
                        <div style="@GetMirrorStyle()">
                            <Enable IsEnabled="@EffectiveIsEnabled">
                                <Overlay OverlayContent="@OverlayContent">
                                    @ChildContent
                                </Overlay>
                            </Enable>
                        </div>
                    </CrossFilter>
                </Alarm>
            </Selection>
        </div>

        @if (EffectiveHasCommLoss)
        {
            <div class="static-indicator-left">
                <CommLossIcon />
            </div>
        }
        
        <Settings IsVisible="@isOver" OnClick="@OnSettingsClick" />
    </MouseOver>
</div>


